/*CSS RESET*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

/*nav bar*/
.navbar{
	border: none;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-inverse {
    background-color: #ff8000;
    color: #444444;
}

.navbar-inverse .navbar-brand {
    color: #444444;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #ff8000;
    color: #444444;
}

.navbar-inverse .navbar-nav>li>a {
      color: #444444;
}

.form-control {
	background-color: white;
	color: #444444;
	margin: 0;
}

.btn-default {
    color: #444444;
    background-color: white;
    border: none;
    margin: 0;
}
.btn {
  margin-top: 0;
  padding: 1px 20px;
  width: 100%;
}
.signupbtn {
    float: left;
    width: 50%;
    padding: 14px 20px; 
}

.btn:hover {
  opacity: 0.5;
}

/*footer*/

.footer {
	background-color: #ff8000;
    color: #444444;
    text-align: center;
}

/*carousel*/
.resistor,
.capacitor,
.inductor {
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	width: 100%;
	height: 50vh;
}

.capacitor{background-image: url(img/capacitor1.jpg);}
.resistor {background-image: url(img/resistor1.jpg);}
.inductor{background-image: url(img/inductor1.jpg);}


/*contents*/
.contents {
	width: 100%;
	height: 50vh;
	border: 2px solid #444444;
}

.inputcart {
  width: 100%;
}

/*signup form*/
/** {box-sizing: border-box}*/

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  /*margin: 5px 0 22px 0;*/
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 1px 23px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /*width: 100%;*/
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

button[disabled] {
  cursor: no-drop;
}

button.btn.btn-primary {
  padding:1px 27px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img{
  width: 100%;
}

.home {
  background-color: white;
  width: 100%;
  height: auto;
}
.home>h1,p{
  text-align: center;
}
p {
  font-size: 1.5em;
}

.circuit {
  background-image: url(img/circuit.jpeg);
    background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  width: 100%;
  height: 50vh;
}

.checkout {
  text-align: center;
  border: 1px solid black;
}

.menu {
  border-radius: 5%;
  box-shadow: -5px 6px 20px 2px #e8be94;

  margin: 1%;
  margin-bottom: 5%;
  padding: 1%;
}

.select {
  /*border: 1px solid black;*/
  text-align: center; 
}

.row {
    margin-left: 5%;
    margin-right: 5%;
}

.soldout {
  background-image: url(img/soldout.png);
  width: 100%;
  height: auto;
  background-size: contain;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 960px) {
.row {
    margin-left: 17%;
    /*margin-right: 11px;*/
}

}

/*desktop*/
@media only screen and (min-width: 961px) {
  .row {
    margin-left: 10%;
    margin-right: 5%;
}

}